* {
    margins: 0px;
    padding: 0px;
    /* border: 1px dotted red; */
    /* background-color: yellow; */

}

#wrapper {
    width: 670px;
    height: 660px;
    background-color: #d5d2ae;
    margin: 0px auto;
    padding: 20px;
}

#header {
    width: 475px;
    height: 55px;
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    margin-bottom: 20px;
}

#header img {
    width: 100px;
    height: 53px;
    background-color: white;
}

td{
    width: 113px;
    height: 113px;
    border: 3px solid black;
    padding: 12px;
}

.odd {
    background-color: #82b4ee;
}

.even {
    background-color: #f46770;
}

td img {
    width: 100px;
    height: 100px;
}
